body
{
	 font-family: 'Ubuntu', arial, serif; 
	 background-color: #FEFFFE;
}

a 
{
	color: #005500;
	text-decoration: none;
}

a:visited
{
	color: #005500;
}

a:hover
{
	color: #008800;
}

#container
{
	padding: 15px;
	width: 1280px;
	height: 100%;
	font-size: 18px;
}

#summary
{
	float: left;
	background-color: #FFFFFF;
	width: 500px;
	padding: 10px;
}

#summary-content img
{
	float: left;
	padding-right: 10px;
}

#header
{
	height: 100px;
	margin-left: 60px;
	float: none; 
	clear: both;
}

#header h1
{
	margin-bottom: 2px;
	padding-bottom: 2px;
	font-size: 50px;
}

#header h1 a
{
	color: #000;
}

#header p
{
	margin-top: 1px;
	font-size: 12px;
}


#content
{
	float: right;
	margin-left: 10px;
	background-color: #FFFFFF;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	width: 700px;

}

#header-post 
{
	padding: 5px;
	margin-bottom: 20px;
}

#header-post h3
{

}
#header-post-body
{
	
	
}

#header-post-link
{
	
}

#summary-blocks
{

}

.summary-block
{
	
}

.recent-post-history
{

}

.recent-post:hover
{
	background-color: #DDDDDD;
}


.recent-post
{
	padding: 5px;
	margin-top: 1px;
	height: 30px;
	font-size: 16px;
	background-color: #EEEEEE;
}


/* Blog specific stuff */
div.date a
{
	color: #000;
	text-decoration: none;
}

.post .info
{
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 10px;
}

.postedDate
{
	font-size: 8px;
}

.avatar
{
	float: left;
	margin-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	
}

div.title
{
	font-size: 30px;
	margin-top: 15px;
	margin-bottom: 5px;
}

.comment .content
{
	border-bottom: 1px dashed #383;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

.comment a.author
{
	text-decoration: none;
}

.clearer
{
	margin-top: 5px;
	margin-bottom: 5px;
}

#tbComment
{
	width: 500px;
	height: 200px;
}

div.title a
{
	text-decoration: none;
}

#footer
{
	clear: both;
	float: none;
}
